$solar-icon-font-path: "webfonts" !default;
$solar-icon-font-family-linear: "Solar-Icon-Set_Linear" !default;
$solar-icon-font-family-bold: "Solar-Icon-Set_Bold" !default;

$si-Alt-Arrow-Down: "\e900";
$si-Alt-Arrow-Left: "\e901";
$si-Alt-Arrow-Right: "\e902";
$si-Alt-Arrow-Up: "\e903";
$si-Arrow-Down: "\e904";
$si-Arrow-Left: "\e905";
$si-Arrow-Left-Down: "\e906";
$si-Arrow-Left-Up: "\e907";
$si-Arrow-Right: "\e908";
$si-Arrow-Right-Down: "\e909";
$si-Arrow-Right-Up: "\e90a";
$si-Arrow-Up: "\e90b";
$si-Double-Alt-Arrow-Down: "\e90c";
$si-Double-Alt-Arrow-Left: "\e90d";
$si-Double-Alt-Arrow-Right: "\e90e";
$si-Double-Alt-Arrow-Up: "\e90f";
$si-Refresh: "\e910";
$si-Refresh-Circle: "\e911";
$si-Refresh-Square: "\e912";
$si-Restart: "\e913";
$si-Restart-Circle: "\e914";
$si-Restart-Square: "\e915";
$si-Round-Alt-Arrow-Down: "\e916";
$si-Round-Alt-Arrow-Left: "\e917";
$si-Round-Alt-Arrow-Right: "\e918";
$si-Round-Alt-Arrow-Up: "\e919";
$si-Round-Arrow-Down: "\e91a";
$si-Round-Arrow-Left: "\e91b";
$si-Round-Arrow-Left-Down: "\e91c";
$si-Round-Arrow-Left-Up: "\e91d";
$si-Round-Arrow-Right: "\e91e";
$si-Round-Arrow-Right-Down: "\e91f";
$si-Round-Arrow-Right-Up: "\e920";
$si-Round-Arrow-Up: "\e921";
$si-Round-Double-Alt-Arrow-Down: "\e922";
$si-Round-Double-Alt-Arrow-Left: "\e923";
$si-Round-Double-Alt-Arrow-Right: "\e924";
$si-Round-Double-Alt-Arrow-Up: "\e925";
$si-Round-Sort-Horizontal: "\e926";
$si-Round-Sort-Vertical: "\e927";
$si-Round-Transfer-Diagonal: "\e928";
$si-Round-Transfer-Horizontal: "\e929";
$si-Round-Transfer-Vertical: "\e92a";
$si-Sort-Horizontal: "\e92b";
$si-Sort-Vertical: "\e92c";
$si-Square-Alt-Arrow-Down: "\e92d";
$si-Square-Alt-Arrow-Left: "\e92e";
$si-Square-Alt-Arrow-Right: "\e92f";
$si-Square-Alt-Arrow-Up: "\e930";
$si-Square-Arrow-Down: "\e931";
$si-Square-Arrow-Left: "\e932";
$si-Square-Arrow-Left-Down: "\e933";
$si-Square-Arrow-Left-Up: "\e934";
$si-Square-Arrow-Right: "\e935";
$si-Square-Arrow-Right-Down: "\e936";
$si-Square-Arrow-Right-Up: "\e937";
$si-Square-Arrow-Up: "\e938";
$si-Square-Double-Alt-Arrow-Down: "\e939";
$si-Square-Double-Alt-Arrow-Left: "\e93a";
$si-Square-Double-Alt-Arrow-Right: "\e93b";
$si-Square-Double-Alt-Arrow-Up: "\e93c";
$si-Square-Sort-Horizontal: "\e93d";
$si-Square-Sort-Vertical: "\e93e";
$si-Square-Transfer-Horizontal: "\e93f";
$si-Square-Transfer-Vertical: "\e940";
$si-Transfer-Horizontal: "\e941";
$si-Transfer-Vertical: "\e942";
$si-Arrow-To-Down-Left: "\e943";
$si-Arrow-To-Down-Right: "\e944";
$si-Arrow-To-Top-Left: "\e945";
$si-Arrow-To-Top-Right: "\e946";
$si-Circle-Bottom-Down: "\e947";
$si-Circle-Bottom-Up: "\e948";
$si-Circle-Top-Down: "\e949";
$si-Circle-Top-Up: "\e94a";
$si-Download: "\e94b";
$si-Download-Minimalistic: "\e94c";
$si-Download-Square: "\e94d";
$si-Download-Twice-Square: "\e94e";
$si-Exit: "\e94f";
$si-Export: "\e950";
$si-Forward: "\e951";
$si-Forward-2: "\e952";
$si-Import: "\e953";
$si-Login: "\e954";
$si-Login-2: "\e955";
$si-Login-3: "\e956";
$si-Logout: "\e957";
$si-Logout-2: "\e958";
$si-Logout-3: "\e959";
$si-Maximize: "\e95a";
$si-Maximize-Square: "\e95b";
$si-Maximize-Square-2: "\e95c";
$si-Maximize-Square-3: "\e95d";
$si-Maximize-Square-Minimalistic: "\e95e";
$si-Minimize: "\e95f";
$si-Minimize-Square: "\e960";
$si-Minimize-Square-2: "\e961";
$si-Minimize-Square-3: "\e962";
$si-Minimize-Square-Minimalistic: "\e963";
$si-Recive-Square: "\e964";
$si-Recive-Twice-Square: "\e965";
$si-Reorder: "\e966";
$si-Reply: "\e967";
$si-Reply-2: "\e968";
$si-Scale: "\e969";
$si-Screen-Share: "\e96a";
$si-Send-Square: "\e96b";
$si-Send-Twice-Square: "\e96c";
$si-Square-Bottom-Down: "\e96d";
$si-Square-Bottom-Up: "\e96e";
$si-Square-Top-Down: "\e96f";
$si-Square-Top-Up: "\e970";
$si-Undo-Left: "\e971";
$si-Undo-Left-Round: "\e972";
$si-Undo-Left-Round-Square: "\e973";
$si-Undo-Left-Square: "\e974";
$si-Undo-Right: "\e975";
$si-Undo-Right-Round: "\e976";
$si-Undo-Right-Round-Square: "\e977";
$si-Undo-Right-Square: "\e978";
$si-Upload: "\e979";
$si-Upload-Minimalistic: "\e97a";
$si-Upload-Square: "\e97b";
$si-Upload-Twice-Square: "\e97c";
$si-Asteroid: "\e97d";
$si-Atom: "\e97e";
$si-Black-Hole: "\e97f";
$si-Black-Hole-2: "\e980";
$si-Black-Hole-3: "\e981";
$si-Earth: "\e982";
$si-Infinity: "\e983";
$si-Men: "\e984";
$si-Planet: "\e985";
$si-Planet-2: "\e986";
$si-Planet-3: "\e987";
$si-Planet-4: "\e988";
$si-Rocket: "\e989";
$si-Rocket-2: "\e98a";
$si-Satellite: "\e98b";
$si-Star: "\e98c";
$si-Star-Angle: "\e98d";
$si-Star-Circle: "\e98e";
$si-Star-Fall: "\e98f";
$si-Star-Fall-2: "\e990";
$si-Star-Fall-Minimalistic: "\e991";
$si-Star-Fall-Minimalistic-2: "\e992";
$si-Star-Rainbow: "\e993";
$si-Star-Ring: "\e994";
$si-Star-Rings: "\e995";
$si-Stars: "\e996";
$si-Stars-Line: "\e997";
$si-Stars-Minimalistic: "\e998";
$si-UFO: "\e999";
$si-UFO-2: "\e99a";
$si-UFO-3: "\e99b";
$si-Women: "\e99c";
$si-Buildings: "\e99d";
$si-Buildings-2: "\e99e";
$si-Buildings-3: "\e99f";
$si-City: "\e9a0";
$si-Garage: "\e9a1";
$si-Home-Alt: "\e9a2";
$si-Hospital: "\e9a3";
$si-Chart: "\e9a4";
$si-Chart-2: "\e9a5";
$si-Chart-Square: "\e9a6";
$si-Chat-Square-2: "\e9a7";
$si-Course-Down: "\e9a8";
$si-Course-Up: "\e9a9";
$si-Diagram-Down: "\e9aa";
$si-Diagram-Up: "\e9ab";
$si-Graph: "\e9ac";
$si-Graph-Down: "\e9ad";
$si-Graph-Down-New: "\e9ae";
$si-Graph-New: "\e9af";
$si-Graph-New-Up: "\e9b0";
$si-Graph-Up: "\e9b1";
$si-Pie-Chart: "\e9b2";
$si-Pie-Chart-2: "\e9b3";
$si-Pie-Chart-3: "\e9b4";
$si-Presentation-Graph: "\e9b5";
$si-Round-Graph: "\e9b6";
$si-Call-Cancel: "\e9b7";
$si-Call-Cancel-Rounded: "\e9b8";
$si-Call-Chat: "\e9b9";
$si-Call-Chat-Rounded: "\e9ba";
$si-Call-Dropped: "\e9bb";
$si-Call-Dropped-Rounded: "\e9bc";
$si-Call-Medicine: "\e9bd";
$si-Call-Medicine-Rounded: "\e9be";
$si-End-Call: "\e9bf";
$si-End-Call-Rounded: "\e9c0";
$si-Incoming-Call: "\e9c1";
$si-Incoming-Call-Rounded: "\e9c2";
$si-Outgoing-Call: "\e9c3";
$si-Outgoing-Call-Rounded: "\e9c4";
$si-Phone: "\e9c5";
$si-Phone-Calling: "\e9c6";
$si-Phone-Calling-Rounded: "\e9c7";
$si-Phone-Rounded: "\e9c8";
$si-Record-Circle: "\e9c9";
$si-Record-Minimalistic: "\e9ca";
$si-Record-Square: "\e9cb";
$si-Align-Bottom: "\e9cc";
$si-Align-Horizonta-Spacing: "\e9cd";
$si-Align-Horizontal-Center: "\e9ce";
$si-Align-Left: "\e9cf";
$si-Align-Right: "\e9d0";
$si-Align-Top: "\e9d1";
$si-Align-Vertical-Center: "\e9d2";
$si-Align-Vertical-Spacing: "\e9d3";
$si-Colour-Tuneing: "\e9d4";
$si-Crop: "\e9d5";
$si-Crop-Minimalistic: "\e9d6";
$si-Filters: "\e9d7";
$si-Flip-Horizontal: "\e9d8";
$si-Flip-Vertical: "\e9d9";
$si-Layers: "\e9da";
$si-Layers-Minimalistic: "\e9db";
$si-Mirror-Left: "\e9dc";
$si-Mirror-Right: "\e9dd";
$si-Paint-Roller: "\e9de";
$si-Palette: "\e9df";
$si-Palette-Round: "\e9e0";
$si-Pallete-2: "\e9e1";
$si-Pipette: "\e9e2";
$si-Radial-Blur: "\e9e3";
$si-Ruler: "\e9e4";
$si-Ruler-Angular: "\e9e5";
$si-Ruler-Cross-Pen: "\e9e6";
$si-Ruler-Pen: "\e9e7";
$si-Three-Squares: "\e9e8";
$si-Airbuds: "\e9e9";
$si-Airbuds-Case: "\e9ea";
$si-Airbuds-Case-Charge: "\e9eb";
$si-Airbuds-Case-Minimalistic: "\e9ec";
$si-Airbuds-Case-Open: "\e9ed";
$si-Airbuds-Charge: "\e9ee";
$si-Airbuds-Check: "\e9ef";
$si-Airbuds-Left: "\e9f0";
$si-Airbuds-Remove: "\e9f1";
$si-Airbuds-Right: "\e9f2";
$si-Bluetooth: "\e9f3";
$si-Bluetooth-Circle: "\e9f4";
$si-Bluetooth-Square: "\e9f5";
$si-Bluetooth-Wave: "\e9f6";
$si-Boombox: "\e9f7";
$si-CPU: "\e9f8";
$si-CPU-Bolt: "\e9f9";
$si-Cassette: "\e9fa";
$si-Cassette-2: "\e9fb";
$si-Cloud-Storage: "\e9fc";
$si-Devices: "\e9fd";
$si-Diskette: "\e9fe";
$si-Display: "\e9ff";
$si-Flash-Drive: "\ea00";
$si-Gameboy: "\ea01";
$si-Gamepad: "\ea02";
$si-Gamepad-Charge: "\ea03";
$si-Gamepad-Minimalistic: "\ea04";
$si-Gamepad-No-Charge: "\ea05";
$si-Gamepad-Old: "\ea06";
$si-Headphones-Round: "\ea07";
$si-Headphones-Round-Sound: "\ea08";
$si-Headphones-Square: "\ea09";
$si-Headphones-Square-Sound: "\ea0a";
$si-Keyboard: "\ea0b";
$si-Laptop: "\ea0c";
$si-Laptop-2: "\ea0d";
$si-Laptop-3: "\ea0e";
$si-Laptop-Minimalistic: "\ea0f";
$si-Lightbulb: "\ea10";
$si-Lightbulb-Bolt: "\ea11";
$si-Lightbulb-Minimalistic: "\ea12";
$si-Lightning: "\ea13";
$si-Monitor: "\ea14";
$si-Monitor-Camera: "\ea15";
$si-Monitor-Smartphone: "\ea16";
$si-Mouse: "\ea17";
$si-Mouse-Circle: "\ea18";
$si-Mouse-Minimalistic: "\ea19";
$si-Plug-Circle: "\ea1a";
$si-Printer: "\ea1b";
$si-Printer-2: "\ea1c";
$si-Printer-Minimalistic: "\ea1d";
$si-Projector: "\ea1e";
$si-Radio: "\ea1f";
$si-Radio-Minimalistic: "\ea20";
$si-SD-Card: "\ea21";
$si-SIM-Card: "\ea22";
$si-SIM-Card-Minimalistic: "\ea23";
$si-SIM-Cards: "\ea24";
$si-SSD-Round: "\ea25";
$si-SSD-Square: "\ea26";
$si-Server: "\ea27";
$si-Server-2: "\ea28";
$si-Server-Minimalistic: "\ea29";
$si-Server-Path: "\ea2a";
$si-Server-Square: "\ea2b";
$si-Server-Square-Cloud: "\ea2c";
$si-Server-Square-Update: "\ea2d";
$si-Smart-Speaker: "\ea2e";
$si-Smart-Speaker-2: "\ea2f";
$si-Smart-Speaker-Minimalistic: "\ea30";
$si-Smartphone: "\ea31";
$si-Smartphone-2: "\ea32";
$si-Smartphone-Rotate-2: "\ea33";
$si-Smartphone-Rotate-Angle: "\ea34";
$si-Smartphone-Rotate-Orientation: "\ea35";
$si-Smartphone-Update: "\ea36";
$si-Smartphone-Vibration: "\ea37";
$si-Socket: "\ea38";
$si-TV: "\ea39";
$si-Tablet: "\ea3a";
$si-Telescope: "\ea3b";
$si-Turntable: "\ea3c";
$si-Turntable-Minimalistic: "\ea3d";
$si-Turntable-Music-Note: "\ea3e";
$si-Weigher: "\ea3f";
$si-Wireless-Charge: "\ea40";
$si-iPhone: "\ea41";
$si-Accessibility: "\ea42";
$si-Add-Circle: "\ea43";
$si-Add-Square: "\ea44";
$si-Augmented-Reality: "\ea45";
$si-Balloon: "\ea46";
$si-Battery-Charge: "\ea47";
$si-Battery-Charge-Minimalistic: "\ea48";
$si-Battery-Full: "\ea49";
$si-Battery-Full-Minimalistic: "\ea4a";
$si-Battery-Half: "\ea4b";
$si-Battery-Half-Minimalistic: "\ea4c";
$si-Battery-Low: "\ea4d";
$si-Battery-Low-Minimalistic: "\ea4e";
$si-Body: "\ea4f";
$si-Bolt: "\ea50";
$si-Bolt-Circle: "\ea51";
$si-Box: "\ea52";
$si-Box-Minimalistic: "\ea53";
$si-Broom: "\ea54";
$si-Cat: "\ea55";
$si-Check-Circle: "\ea56";
$si-Check-Square: "\ea57";
$si-Close-Circle: "\ea58";
$si-Close-Square: "\ea59";
$si-Confetti: "\ea5a";
$si-Confetti-Minimalistic: "\ea5b";
$si-Copy: "\ea5c";
$si-Copyright: "\ea5d";
$si-Cosmetic: "\ea5e";
$si-Creative-Commons: "\ea5f";
$si-Crown: "\ea60";
$si-Crown-Line: "\ea61";
$si-Crown-Minimalistic: "\ea62";
$si-Crown-Star: "\ea63";
$si-Cup: "\ea64";
$si-Cup-First: "\ea65";
$si-Cup-Music: "\ea66";
$si-Cup-Star: "\ea67";
$si-Cursor: "\ea68";
$si-Cursor-Square: "\ea69";
$si-Danger: "\ea6a";
$si-Danger-Circle: "\ea6b";
$si-Danger-Square: "\ea6c";
$si-Danger-Triangle: "\ea6d";
$si-Database: "\ea6e";
$si-Delivery: "\ea6f";
$si-Explicit: "\ea70";
$si-Feed: "\ea71";
$si-Ferris-Wheel: "\ea72";
$si-Figma: "\ea73";
$si-Filter: "\ea74";
$si-Flag: "\ea75";
$si-Flag-2: "\ea76";
$si-Flashlight: "\ea77";
$si-Flashlight-On: "\ea78";
$si-Forbidden: "\ea79";
$si-Forbidden-Circle: "\ea7a";
$si-Fuel: "\ea7b";
$si-Ghost: "\ea7c";
$si-Ghost-Smile: "\ea7d";
$si-Gift: "\ea7e";
$si-Glasses: "\ea7f";
$si-Hamburger-Menu: "\ea80";
$si-Hanger: "\ea81";
$si-Hanger-2: "\ea82";
$si-Help: "\ea83";
$si-High-Definition: "\ea84";
$si-High-Quality: "\ea85";
$si-Home: "\ea86";
$si-Home-2: "\ea87";
$si-Home-Add: "\ea88";
$si-Home-Add-Angle: "\ea89";
$si-Home-Angle: "\ea8a";
$si-Home-Angle-2: "\ea8b";
$si-Home-Smile: "\ea8c";
$si-Home-Smile-Angle: "\ea8d";
$si-Home-WiFi: "\ea8e";
$si-Home-WiFi-Angle: "\ea8f";
$si-Info-Circle: "\ea90";
$si-Info-Square: "\ea91";
$si-K: "\ea92";
$si-Magic-Stick: "\ea93";
$si-Magic-Stick-2: "\ea94";
$si-Magic-Stick-3: "\ea95";
$si-Magnet: "\ea96";
$si-Magnet-Wave: "\ea97";
$si-Mask-Happly: "\ea98";
$si-Mask-Sad: "\ea99";
$si-Masks: "\ea9a";
$si-Mention-Circle: "\ea9b";
$si-Mention-Square: "\ea9c";
$si-Menu-Dots: "\ea9d";
$si-Menu-Dots-Circle: "\ea9e";
$si-Menu-Dots-Square: "\ea9f";
$si-Minus-Circle: "\eaa0";
$si-Minus-Square: "\eaa1";
$si-Mirror: "\eaa2";
$si-Paper-Bin: "\eaa3";
$si-Paw: "\eaa4";
$si-Perfume: "\eaa5";
$si-Pin: "\eaa6";
$si-Pin-Circle: "\eaa7";
$si-Pin-List: "\eaa8";
$si-Plate: "\eaa9";
$si-Posts-Carousel-Horizontal: "\eaaa";
$si-Posts-Carousel-Vertical: "\eaab";
$si-Power: "\eaac";
$si-Question-Circle: "\eaad";
$si-Question-Square: "\eaae";
$si-Reorder1: "\eaaf";
$si-Revote: "\eab0";
$si-Scissors: "\eab1";
$si-Scissors-Square: "\eab2";
$si-Share: "\eab3";
$si-Share-Circle: "\eab4";
$si-Skirt: "\eab5";
$si-Sledgehammer: "\eab6";
$si-Sleeping: "\eab7";
$si-Slider-Horizontal: "\eab8";
$si-Slider-Minimalistic-Horizontal: "\eab9";
$si-Slider-Vertical: "\eaba";
$si-Slider-Vertical-Minimalistic: "\eabb";
$si-Smart-Home: "\eabc";
$si-Smart-Home-Angle: "\eabd";
$si-Sort: "\eabe";
$si-Special-Effects: "\eabf";
$si-Subtitles: "\eac0";
$si-T-shirt: "\eac1";
$si-Target: "\eac2";
$si-Traffic: "\eac3";
$si-Traffic-Economy: "\eac4";
$si-Trash-Bin-2: "\eac5";
$si-Trash-Bin-Minimalistic: "\eac6";
$si-Trash-Bin-Minimalistic-2: "\eac7";
$si-Trash-Bin-Trash: "\eac8";
$si-Umbrella: "\eac9";
$si-Waterdrop: "\eaca";
$si-WinRar: "\eacb";
$si-XXX: "\eacc";
$si-Confounded-Circle: "\eacd";
$si-Confounded-Square: "\eace";
$si-Emoji-Funny-Circle: "\eacf";
$si-Emoji-Funny-Square: "\ead0";
$si-Expressionless-Circle: "\ead1";
$si-Expressionless-Square: "\ead2";
$si-Face-Scan-Circle: "\ead3";
$si-Face-Scan-Square: "\ead4";
$si-Facemask-Circle: "\ead5";
$si-Facemask-Square: "\ead6";
$si-Sad-Circle: "\ead7";
$si-Sad-Square: "\ead8";
$si-Sleeping-Circle: "\ead9";
$si-Sleeping-Square: "\eada";
$si-Smile-Circle: "\eadb";
$si-Smile-Square: "\eadc";
$si-Sticker-Circle: "\eadd";
$si-Sticker-Smile-Circle: "\eade";
$si-Sticker-Smile-Circle-2: "\eadf";
$si-Sticker-Smile-Square: "\eae0";
$si-Sticker-Square: "\eae1";
$si-Cloud-File: "\eae2";
$si-Code-File: "\eae3";
$si-Figma-File: "\eae4";
$si-File: "\eae5";
$si-File-Check: "\eae6";
$si-File-Corrupted: "\eae7";
$si-File-Download: "\eae8";
$si-File-Favourite: "\eae9";
$si-File-Left: "\eaea";
$si-File-Remove: "\eaeb";
$si-File-Right: "\eaec";
$si-File-Send: "\eaed";
$si-File-Smile-_: "\eaee";
$si-File-Text: "\eaef";
$si-ZIP-File: "\eaf0";
$si-Add-Folder: "\eaf1";
$si-Folder: "\eaf2";
$si-Folder-2: "\eaf3";
$si-Folder-Check: "\eaf4";
$si-Folder-Cloud: "\eaf5";
$si-Folder-Error: "\eaf6";
$si-Folder-Favourite-Bookmark: "\eaf7";
$si-Folder-Favourite-Star: "\eaf8";
$si-Folder-Open: "\eaf9";
$si-Folder-Path-Connect: "\eafa";
$si-Folder-Security: "\eafb";
$si-Folder-With-Files: "\eafc";
$si-Move-To-Folder: "\eafd";
$si-Remove-Folder: "\eafe";
$si-Bottle: "\eaff";
$si-Chef-Hat: "\eb00";
$si-Chef-Hat-Heart: "\eb01";
$si-Chef-Hat-Minimalistic: "\eb02";
$si-Corkscrew: "\eb03";
$si-Cup-Hot: "\eb04";
$si-Cup-Paper: "\eb05";
$si-Cup1: "\eb06";
$si-Donut: "\eb07";
$si-Donut-Bitten: "\eb08";
$si-Ladle: "\eb09";
$si-Oven-Mitts: "\eb0a";
$si-Oven-Mitts-Minimalistic: "\eb0b";
$si-Rolling-Pin: "\eb0c";
$si-Tea-Cup: "\eb0d";
$si-Whisk: "\eb0e";
$si-Wineglass: "\eb0f";
$si-Wineglass-Triangle: "\eb10";
$si-Hand-Heart: "\eb11";
$si-Hand-Money: "\eb12";
$si-Hand-Pills: "\eb13";
$si-Hand-Shake: "\eb14";
$si-Hand-Stars: "\eb15";
$si-Armchair: "\eb16";
$si-Armchair-2: "\eb17";
$si-Bar-Chair: "\eb18";
$si-Bath: "\eb19";
$si-Bed: "\eb1a";
$si-Bedside-Table: "\eb1b";
$si-Bedside-Table-2: "\eb1c";
$si-Bedside-Table-3: "\eb1d";
$si-Bedside-Table-4: "\eb1e";
$si-Chair: "\eb1f";
$si-Chair-2: "\eb20";
$si-Chandelier: "\eb21";
$si-Closet: "\eb22";
$si-Closet-2: "\eb23";
$si-Condicioner: "\eb24";
$si-Condicioner-2: "\eb25";
$si-Floor-Lamp: "\eb26";
$si-Floor-Lamp-Minimalistic: "\eb27";
$si-Fridge: "\eb28";
$si-Lamp: "\eb29";
$si-Mirror1: "\eb2a";
$si-Remote-Controller: "\eb2b";
$si-Remote-Controller-2: "\eb2c";
$si-Remote-Controller-Minimalistic: "\eb2d";
$si-Smart-Vacuum-Cleaner: "\eb2e";
$si-Smart-Vacuum-Cleaner-2: "\eb2f";
$si-Sofa: "\eb30";
$si-Sofa-2: "\eb31";
$si-Sofa-3: "\eb32";
$si-Speaker: "\eb33";
$si-Speaker-Minimalistic: "\eb34";
$si-Trellis: "\eb35";
$si-Volume-Knob: "\eb36";
$si-Washing-Machine: "\eb37";
$si-Washing-Machine-Minimalistic: "\eb38";
$si-Dislike: "\eb39";
$si-Heart: "\eb3a";
$si-Heart-Angle: "\eb3b";
$si-Heart-Broken: "\eb3c";
$si-Heart-Lock: "\eb3d";
$si-Heart-Shine: "\eb3e";
$si-Heart-Unlock: "\eb3f";
$si-Hearts: "\eb40";
$si-Like: "\eb41";
$si-Medal-Ribbon: "\eb42";
$si-Medal-Ribbon-Star: "\eb43";
$si-Medal-Ribbons-Star: "\eb44";
$si-Medal-Star: "\eb45";
$si-Medal-Star-Circle: "\eb46";
$si-Medal-Star-Square: "\eb47";
$si-Star-Shine: "\eb48";
$si-Star1: "\eb49";
$si-Bill: "\eb4a";
$si-Checklist: "\eb4b";
$si-Checklist-Minimalistic: "\eb4c";
$si-List: "\eb4d";
$si-List-1: "\eb4e";
$si-List-Arrow-Down: "\eb4f";
$si-List-Arrow-Down-Minimalistic: "\eb50";
$si-List-Arrow-Up: "\eb51";
$si-List-Arrow-Up-Minimalistic: "\eb52";
$si-List-Check: "\eb53";
$si-List-Check-Minimalistic: "\eb54";
$si-List-Cross: "\eb55";
$si-List-Cross-Minimalistic: "\eb56";
$si-List-Down: "\eb57";
$si-List-Down-Minimalistic: "\eb58";
$si-List-Heart: "\eb59";
$si-List-Heart-Minimalistic: "\eb5a";
$si-List-Up: "\eb5b";
$si-List-Up-Minimalistic: "\eb5c";
$si-Plaaylist-Minimalistic: "\eb5d";
$si-Playlist: "\eb5e";
$si-Playlist-2: "\eb5f";
$si-Playlist-Minimalistic-2: "\eb60";
$si-Playlist-Minimalistic-3: "\eb61";
$si-Sort-By-Alphabet: "\eb62";
$si-Sort-By-Time: "\eb63";
$si-Sort-From-Bottom-To-Top: "\eb64";
$si-Sort-From-Top-To-Bottom: "\eb65";
$si-Branching-Paths-Down: "\eb66";
$si-Branching-Paths-Up: "\eb67";
$si-Compass: "\eb68";
$si-Compass-Big: "\eb69";
$si-Compass-Square: "\eb6a";
$si-GPS: "\eb6b";
$si-Global: "\eb6c";
$si-Globus: "\eb6d";
$si-Map: "\eb6e";
$si-Map-Arrow-Down: "\eb6f";
$si-Map-Arrow-Left: "\eb70";
$si-Map-Arrow-Right: "\eb71";
$si-Map-Arrow-Square: "\eb72";
$si-Map-Arrow-Up: "\eb73";
$si-Map-Point: "\eb74";
$si-Map-Point-Add: "\eb75";
$si-Map-Point-Favourite: "\eb76";
$si-Map-Point-Hospital: "\eb77";
$si-Map-Point-Remove: "\eb78";
$si-Map-Point-Rotate: "\eb79";
$si-Map-Point-School: "\eb7a";
$si-Map-Point-Search: "\eb7b";
$si-Map-Point-Wave: "\eb7c";
$si-People-Nearby: "\eb7d";
$si-Point-On-Map: "\eb7e";
$si-Point-On-Map-Perspective: "\eb7f";
$si-Radar: "\eb80";
$si-Radar-2: "\eb81";
$si-Route: "\eb82";
$si-Routing: "\eb83";
$si-Routing-2: "\eb84";
$si-Routing-3: "\eb85";
$si-Signpost: "\eb86";
$si-Signpost-2: "\eb87";
$si-Streets: "\eb88";
$si-Streets-Map-Point: "\eb89";
$si-Streets-Navigation: "\eb8a";
$si-Adhesive-Plaster: "\eb8b";
$si-Adhesive-Plaster-2: "\eb8c";
$si-Bacteria: "\eb8d";
$si-Benzene-Ring: "\eb8e";
$si-Bone: "\eb8f";
$si-Bone-Broken: "\eb90";
$si-Bone-Crack: "\eb91";
$si-Bones: "\eb92";
$si-DNA: "\eb93";
$si-Dropper: "\eb94";
$si-Dropper-2: "\eb95";
$si-Dropper-3: "\eb96";
$si-Dropper-Minimalistic: "\eb97";
$si-Dropper-Minimalistic-2: "\eb98";
$si-Health: "\eb99";
$si-Heart-Pulse: "\eb9a";
$si-Heart-Pulse-2: "\eb9b";
$si-Jar-Of-Pills: "\eb9c";
$si-Jar-Of-Pills-2: "\eb9d";
$si-Medical-Kit: "\eb9e";
$si-Pill: "\eb9f";
$si-Pills: "\eba0";
$si-Pills-2: "\eba1";
$si-Pills-3: "\eba2";
$si-Pulse: "\eba3";
$si-Pulse-2: "\eba4";
$si-Stethoscope: "\eba5";
$si-Syringe: "\eba6";
$si-Test-Tube: "\eba7";
$si-Test-Tube-Minimalistic: "\eba8";
$si-Thermometer: "\eba9";
$si-Virus: "\ebaa";
$si-Chat-Dots: "\ebab";
$si-Chat-Line: "\ebac";
$si-Chat-Round: "\ebad";
$si-Chat-Round-Call: "\ebae";
$si-Chat-Round-Check: "\ebaf";
$si-Chat-Round-Dots: "\ebb0";
$si-Chat-Round-Like: "\ebb1";
$si-Chat-Round-Line: "\ebb2";
$si-Chat-Round-Money: "\ebb3";
$si-Chat-Round-Unread: "\ebb4";
$si-Chat-Round-Video: "\ebb5";
$si-Chat-Square: "\ebb6";
$si-Chat-Square-Arrow: "\ebb7";
$si-Chat-Square-Call: "\ebb8";
$si-Chat-Square-Check: "\ebb9";
$si-Chat-Square-Code: "\ebba";
$si-Chat-Square-Like: "\ebbb";
$si-Chat-Unread: "\ebbc";
$si-Check-Read: "\ebbd";
$si-Dialog: "\ebbe";
$si-Dialog-2: "\ebbf";
$si-Forward1: "\ebc0";
$si-Inbox: "\ebc1";
$si-Inbox-Archive: "\ebc2";
$si-Inbox-In: "\ebc3";
$si-Inbox-Line: "\ebc4";
$si-Inbox-Out: "\ebc5";
$si-Inbox-Unread: "\ebc6";
$si-Letter: "\ebc7";
$si-Letter-Opened: "\ebc8";
$si-Letter-Unread: "\ebc9";
$si-Mailbox: "\ebca";
$si-Multiple-Forward-Left: "\ebcb";
$si-Multiple-Forward-Right: "\ebcc";
$si-Paperclip: "\ebcd";
$si-Paperclip-2: "\ebce";
$si-Paperclip-Rounded: "\ebcf";
$si-Paperclip-Rounded-2: "\ebd0";
$si-Pen: "\ebd1";
$si-Pen-2: "\ebd2";
$si-Pen-New-Round: "\ebd3";
$si-Pen-New-Square: "\ebd4";
$si-Plain: "\ebd5";
$si-Plain-2: "\ebd6";
$si-Plain-3: "\ebd7";
$si-Square-Forward: "\ebd8";
$si-Square-Share-Line: "\ebd9";
$si-Unread: "\ebda";
$si-Banknote: "\ebdb";
$si-Banknote-2: "\ebdc";
$si-Bill-Check: "\ebdd";
$si-Bill-Cross: "\ebde";
$si-Bill-List: "\ebdf";
$si-Bill1: "\ebe0";
$si-Card: "\ebe1";
$si-Card-2: "\ebe2";
$si-Card-Recive: "\ebe3";
$si-Card-Search: "\ebe4";
$si-Card-Send: "\ebe5";
$si-Card-Transfer: "\ebe6";
$si-Cardholder: "\ebe7";
$si-Cash-Out: "\ebe8";
$si-Dollar: "\ebe9";
$si-Dollar-Minimalistic: "\ebea";
$si-Euro: "\ebeb";
$si-Money-Bag: "\ebec";
$si-Ruble: "\ebed";
$si-Safe-2: "\ebee";
$si-Safe-Circle: "\ebef";
$si-Safe-Square: "\ebf0";
$si-Sale: "\ebf1";
$si-Sale-Square: "\ebf2";
$si-Tag: "\ebf3";
$si-Tag-Horizontal: "\ebf4";
$si-Tag-Price: "\ebf5";
$si-Ticker-Star: "\ebf6";
$si-Ticket: "\ebf7";
$si-Ticket-Sale: "\ebf8";
$si-Verified-Check: "\ebf9";
$si-Wad-Of-Money: "\ebfa";
$si-Wallet: "\ebfb";
$si-Wallet-2: "\ebfc";
$si-Wallet-Money: "\ebfd";
$si-Bonfire: "\ebfe";
$si-Fire: "\ebff";
$si-Fire-Minimalistic: "\ec00";
$si-Fire-Square: "\ec01";
$si-Flame: "\ec02";
$si-Leaf: "\ec03";
$si-Suitcase: "\ec04";
$si-Suitcase-Lines: "\ec05";
$si-Suitcase-Tag: "\ec06";
$si-Bug: "\ec07";
$si-Bug-Minimalistic: "\ec08";
$si-Code: "\ec09";
$si-Code-2: "\ec0a";
$si-Code-Circle: "\ec0b";
$si-Code-Square: "\ec0c";
$si-Command: "\ec0d";
$si-Hashtag: "\ec0e";
$si-Hashtag-Chat: "\ec0f";
$si-Hashtag-Circle: "\ec10";
$si-Hashtag-Square: "\ec11";
$si-Programming: "\ec12";
$si-Screencast: "\ec13";
$si-Screencast-2: "\ec14";
$si-Sidebar-Code: "\ec15";
$si-Sidebar-Minimalistic: "\ec16";
$si-Siderbar: "\ec17";
$si-Slash-Circle: "\ec18";
$si-Slash-Square: "\ec19";
$si-Station: "\ec1a";
$si-Station-Minimalistic: "\ec1b";
$si-Structure: "\ec1c";
$si-Translation: "\ec1d";
$si-Translation-2: "\ec1e";
$si-USB: "\ec1f";
$si-USB-Circle: "\ec20";
$si-USB-Square: "\ec21";
$si-Wi-Fi-Router: "\ec22";
$si-Wi-Fi-Router-Minimalistic: "\ec23";
$si-Wi-Fi-Router-Round: "\ec24";
$si-Window-Frame: "\ec25";
$si-Archive: "\ec26";
$si-Archive-Check: "\ec27";
$si-Archive-Down: "\ec28";
$si-Archive-Down-Minimlistic: "\ec29";
$si-Archive-Minimalistic: "\ec2a";
$si-Archive-Up: "\ec2b";
$si-Archive-Up-Minimlistic: "\ec2c";
$si-Clipboard: "\ec2d";
$si-Clipboard-Add: "\ec2e";
$si-Clipboard-Check: "\ec2f";
$si-Clipboard-Heart: "\ec30";
$si-Clipboard-List: "\ec31";
$si-Clipboard-Remove: "\ec32";
$si-Clipboard-Text: "\ec33";
$si-Document: "\ec34";
$si-Document-Add: "\ec35";
$si-Document-Medicine: "\ec36";
$si-Document-Text: "\ec37";
$si-Documents: "\ec38";
$si-Documents-Minimalistic: "\ec39";
$si-Notebook: "\ec3a";
$si-Notes: "\ec3b";
$si-Notes-Minimalistic: "\ec3c";
$si-Bell: "\ec3d";
$si-Bell-Bing: "\ec3e";
$si-Bell-Off: "\ec3f";
$si-Notification-Lines-Remove: "\ec40";
$si-Notification-Remove: "\ec41";
$si-Notification-Unread: "\ec42";
$si-Notification-Unread-Lines: "\ec43";
$si-Backpack: "\ec44";
$si-Book: "\ec45";
$si-Book-2: "\ec46";
$si-Book-Bookmark: "\ec47";
$si-Book-Bookmark-Minimalistic: "\ec48";
$si-Book-Minimalistic: "\ec49";
$si-Bookmark: "\ec4a";
$si-Bookmark-Circle: "\ec4b";
$si-Bookmark-Opened: "\ec4c";
$si-Bookmark-Square: "\ec4d";
$si-Bookmark-Square-Minimalistic: "\ec4e";
$si-Calculator: "\ec4f";
$si-Calculator-Minimalistic: "\ec50";
$si-Case: "\ec51";
$si-Case-Minimalistic: "\ec52";
$si-Case-Round: "\ec53";
$si-Case-Round-Minimalistic: "\ec54";
$si-Diploma: "\ec55";
$si-Diploma-Verified: "\ec56";
$si-Document1: "\ec57";
$si-Notebook-Bookmark: "\ec58";
$si-Notebook-Minimalistic: "\ec59";
$si-Notebook-Square: "\ec5a";
$si-Notebook1: "\ec5b";
$si-Passport: "\ec5c";
$si-Passport-Minimalistic: "\ec5d";
$si-Plus: "\ec5e";
$si-Minus: "\ec5e";
$si-Square-Academic-Cap: "\ec5f";
$si-Square-Academic-Cap-2: "\ec60";
$si-Magnifer: "\ec61";
$si-Magnifer-Bug: "\ec62";
$si-Magnifer-Zoom-In: "\ec63";
$si-Magnifer-Zoom-Out: "\ec64";
$si-Minimalistic-Magnifer: "\ec65";
$si-Minimalistic-Magnifer-Bug: "\ec66";
$si-Minimalistic-Magnifer-Zoom-In: "\ec67";
$si-Minimalistic-Magnifer-Zoom-Out: "\ec68";
$si-Rounded-Magnifer: "\ec69";
$si-Rounded-Magnifer-Bug: "\ec6a";
$si-Rounded-Magnifer-Zoom-In: "\ec6b";
$si-Rounded-Magnifer-Zoom-Out: "\ec6c";
$si-Bomb: "\ec6d";
$si-Bomb-Emoji: "\ec6e";
$si-Bomb-Minimalistic: "\ec6f";
$si-Code-Scan: "\ec70";
$si-Eye: "\ec71";
$si-Eye-Closed: "\ec72";
$si-Eye-Scan: "\ec73";
$si-Incognito: "\ec74";
$si-Key: "\ec75";
$si-Key-Minimalistic: "\ec76";
$si-Key-Minimalistic-2: "\ec77";
$si-Key-Minimalistic-Square: "\ec78";
$si-Key-Minimalistic-Square-2: "\ec79";
$si-Key-Minimalistic-Square-3: "\ec7a";
$si-Key-Square: "\ec7b";
$si-Key-Square-2: "\ec7c";
$si-Lock: "\ec7d";
$si-Lock-Keyhole: "\ec7e";
$si-Lock-Keyhole-Minimalistic: "\ec7f";
$si-Lock-Keyhole-Minimalistic-Unlocked: "\ec80";
$si-Lock-Keyhole-Unlocked: "\ec81";
$si-Lock-Password: "\ec82";
$si-Lock-Password-Unlocked: "\ec83";
$si-Lock-Unlocked: "\ec84";
$si-Object-Scan: "\ec85";
$si-Password: "\ec86";
$si-Password-Minimalistic: "\ec87";
$si-Password-Minimalistic-Input: "\ec88";
$si-QR-Code: "\ec89";
$si-Scanner: "\ec8a";
$si-Scanner-2: "\ec8b";
$si-Shield: "\ec8c";
$si-Shield-Check: "\ec8d";
$si-Shield-Cross: "\ec8e";
$si-Shield-Keyhole: "\ec8f";
$si-Shield-Keyhole-Minimalistic: "\ec90";
$si-Shield-Minimalistic: "\ec91";
$si-Shield-Minus: "\ec92";
$si-Shield-Network: "\ec93";
$si-Shield-Plus: "\ec94";
$si-Shield-Star: "\ec95";
$si-Shield-Up: "\ec96";
$si-Shield-User: "\ec97";
$si-Shield-Warning: "\ec98";
$si-Siren: "\ec99";
$si-Siren-Rounded: "\ec9a";
$si-Settings: "\ec9b";
$si-Settings-Minimalistic: "\ec9c";
$si-Tuning: "\ec9d";
$si-Tuning-2: "\ec9e";
$si-Tuning-3: "\ec9f";
$si-Tuning-4: "\eca0";
$si-Tuning-Square: "\eca1";
$si-Tuning-Square-2: "\eca2";
$si-Widget: "\eca3";
$si-Widget-2: "\eca4";
$si-Widget-3: "\eca5";
$si-Widget-4: "\eca6";
$si-Widget-5: "\eca7";
$si-Widget-6: "\eca8";
$si-Widget-Add: "\eca9";
$si-Bag: "\ecaa";
$si-Bag-2: "\ecab";
$si-Bag-3: "\ecac";
$si-Bag-4: "\ecad";
$si-Bag-5: "\ecae";
$si-Bag-Check: "\ecaf";
$si-Bag-Cross: "\ecb0";
$si-Bag-Heart: "\ecb1";
$si-Bag-Music: "\ecb2";
$si-Bag-Music-2: "\ecb3";
$si-Bag-Smile: "\ecb4";
$si-Cart: "\ecb5";
$si-Cart-2: "\ecb6";
$si-Cart-3: "\ecb7";
$si-Cart-4: "\ecb8";
$si-Cart-5: "\ecb9";
$si-Cart-Check: "\ecba";
$si-Cart-Cross: "\ecbb";
$si-Cart-Large: "\ecbc";
$si-Cart-Large-2: "\ecbd";
$si-Cart-Large-3: "\ecbe";
$si-Cart-Large-4: "\ecbf";
$si-Cart-Large-Minimalistic: "\ecc0";
$si-Cart-Plus: "\ecc1";
$si-Shop: "\ecc2";
$si-Shop-2: "\ecc3";
$si-Shop-Minimalistic: "\ecc4";
$si-Balls: "\ecc5";
$si-Basketball: "\ecc6";
$si-Bicycling: "\ecc7";
$si-Bicycling-Round: "\ecc8";
$si-Body-Shape: "\ecc9";
$si-Body-Shape-Minimalistic: "\ecca";
$si-Bowling: "\eccb";
$si-Dumbbell: "\eccc";
$si-Dumbbell-Large: "\eccd";
$si-Dumbbell-Large-Minimalistic: "\ecce";
$si-Dumbbell-Small: "\eccf";
$si-Dumbbells: "\ecd0";
$si-Dumbbells-2: "\ecd1";
$si-Football: "\ecd2";
$si-Golf: "\ecd3";
$si-Hiking: "\ecd4";
$si-Hiking-Minimalistic: "\ecd5";
$si-Hiking-Round: "\ecd6";
$si-Meditation: "\ecd7";
$si-Meditation-Round: "\ecd8";
$si-Ranking: "\ecd9";
$si-Rugby: "\ecda";
$si-Running: "\ecdb";
$si-Running-2: "\ecdc";
$si-Running-Round: "\ecdd";
$si-Skateboard: "\ecde";
$si-Skateboarding: "\ecdf";
$si-Skateboarding-Round: "\ece0";
$si-Stretching: "\ece1";
$si-Stretching-Round: "\ece2";
$si-Swimming: "\ece3";
$si-Tennis: "\ece4";
$si-Tennis-2: "\ece5";
$si-Treadmill: "\ece6";
$si-Treadmill-Round: "\ece7";
$si-Volleyball: "\ece8";
$si-Volleyball-2: "\ece9";
$si-Walking: "\ecea";
$si-Walking-Round: "\eceb";
$si-Water: "\ecec";
$si-Water-Sun: "\eced";
$si-Backspace: "\ecee";
$si-Eraser: "\ecef";
$si-Eraser-Circle: "\ecf0";
$si-Eraser-Square: "\ecf1";
$si-Link: "\ecf2";
$si-Link-Broken: "\ecf3";
$si-Link-Broken-Minimalistic: "\ecf4";
$si-Link-Circle: "\ecf5";
$si-Link-Minimalistic: "\ecf6";
$si-Link-Minimalistic-2: "\ecf7";
$si-Link-Round: "\ecf8";
$si-Link-Round-Angle: "\ecf9";
$si-Link-Square: "\ecfa";
$si-Paragraph-Spacing: "\ecfb";
$si-Text: "\ecfc";
$si-Text-Bold: "\ecfd";
$si-Text-Bold-Circle: "\ecfe";
$si-Text-Bold-Square: "\ecff";
$si-Text-Circle: "\ed00";
$si-Text-Cross: "\ed01";
$si-Text-Cross-Circle: "\ed02";
$si-Text-Cross-Square: "\ed03";
$si-Text-Field: "\ed04";
$si-Text-Field-Focus: "\ed05";
$si-Text-Italic: "\ed06";
$si-Text-Italic-Circle: "\ed07";
$si-Text-Italic-Square: "\ed08";
$si-Text-Selection: "\ed09";
$si-Text-Square: "\ed0a";
$si-Text-Square-2: "\ed0b";
$si-Text-Underline: "\ed0c";
$si-Text-Underline-Circle: "\ed0d";
$si-Text-Underline-Cross: "\ed0e";
$si-Alarm: "\ed0f";
$si-Alarm-Add: "\ed10";
$si-Alarm-Pause: "\ed11";
$si-Alarm-Play: "\ed12";
$si-Alarm-Remove: "\ed13";
$si-Alarm-Sleep: "\ed14";
$si-Alarm-Turn-Off: "\ed15";
$si-Calendar: "\ed16";
$si-Calendar-Add: "\ed17";
$si-Calendar-Date: "\ed18";
$si-Calendar-Mark: "\ed19";
$si-Calendar-Minimalistic: "\ed1a";
$si-Calendar-Search: "\ed1b";
$si-Clock-Circle: "\ed1c";
$si-Clock-Square: "\ed1d";
$si-History: "\ed1e";
$si-History-2: "\ed1f";
$si-History-3: "\ed20";
$si-Hourglass: "\ed21";
$si-Hourglass-Line: "\ed22";
$si-Stopwatch: "\ed23";
$si-Stopwatch-Pause: "\ed24";
$si-Stopwatch-Play: "\ed25";
$si-Watch-Round: "\ed26";
$si-Watch-Square: "\ed27";
$si-Watch-Square-Minimalistic: "\ed28";
$si-Watch-Square-Minimalistic-Charge: "\ed29";
$si-Accumulator: "\ed2a";
$si-Bus: "\ed2b";
$si-Electric-Refueling: "\ed2c";
$si-Gas-Station: "\ed2d";
$si-Kick-Scooter: "\ed2e";
$si-Scooter: "\ed2f";
$si-Shock-Absorber: "\ed30";
$si-Spedometer-Low: "\ed31";
$si-Spedometer-Max: "\ed32";
$si-Spedometer-Middle: "\ed33";
$si-Suspension: "\ed34";
$si-Suspension-Bolt: "\ed35";
$si-Suspension-Cross: "\ed36";
$si-Tram: "\ed37";
$si-Transmission: "\ed38";
$si-Transmission-Circle: "\ed39";
$si-Transmission-Square: "\ed3a";
$si-Wheel: "\ed3b";
$si-Wheel-Angle: "\ed3c";
$si-User: "\ed3d";
$si-User-Block: "\ed3e";
$si-User-Block-Rounded: "\ed3f";
$si-User-Check: "\ed40";
$si-User-Check-Rounded: "\ed41";
$si-User-Circle: "\ed42";
$si-User-Cross: "\ed43";
$si-User-Cross-Rounded: "\ed44";
$si-User-Hand-Up: "\ed45";
$si-User-Hands: "\ed46";
$si-User-Heart: "\ed47";
$si-User-Heart-Rounded: "\ed48";
$si-User-Id: "\ed49";
$si-User-Minus: "\ed4a";
$si-User-Minus-Rounded: "\ed4b";
$si-User-Plus: "\ed4c";
$si-User-Plus-Rounded: "\ed4d";
$si-User-Rounded: "\ed4e";
$si-User-Speak: "\ed4f";
$si-User-Speak-Rounded: "\ed50";
$si-Users-Group-Rounded: "\ed51";
$si-Users-Group-Two-Rounded: "\ed52";
$si-Album: "\ed53";
$si-Camera: "\ed54";
$si-Camera-Add: "\ed55";
$si-Camera-Minimalistic: "\ed56";
$si-Camera-Rotate: "\ed57";
$si-Camera-Square: "\ed58";
$si-Clapperboard: "\ed59";
$si-Clapperboard-Edit: "\ed5a";
$si-Clapperboard-Open: "\ed5b";
$si-Clapperboard-Open-Play: "\ed5c";
$si-Clapperboard-Play: "\ed5d";
$si-Clapperboard-Text: "\ed5e";
$si-Full-Screen: "\ed5f";
$si-Full-Screen-Circle: "\ed60";
$si-Full-Screen-Square: "\ed61";
$si-Gallery: "\ed62";
$si-Gallery-Add: "\ed63";
$si-Gallery-Check: "\ed64";
$si-Gallery-Circle: "\ed65";
$si-Gallery-Download: "\ed66";
$si-Gallery-Edit: "\ed67";
$si-Gallery-Favourite: "\ed68";
$si-Gallery-Minimalistic: "\ed69";
$si-Gallery-Remove: "\ed6a";
$si-Gallery-Round: "\ed6b";
$si-Gallery-Send: "\ed6c";
$si-Gallery-Wide: "\ed6d";
$si-Library: "\ed6e";
$si-Microphone: "\ed6f";
$si-Microphone-2: "\ed70";
$si-Microphone-3: "\ed71";
$si-Microphone-Large: "\ed72";
$si-Music-Library: "\ed73";
$si-Music-Library-2: "\ed74";
$si-Music-Note: "\ed75";
$si-Music-Note-2: "\ed76";
$si-Music-Note-3: "\ed77";
$si-Music-Note-4: "\ed78";
$si-Music-Note-Slider: "\ed79";
$si-Music-Note-Slider-2: "\ed7a";
$si-Music-Notes: "\ed7b";
$si-Muted: "\ed7c";
$si-PIP: "\ed7d";
$si-PIP-2: "\ed7e";
$si-Panorama: "\ed7f";
$si-Pause: "\ed80";
$si-Pause-Circle: "\ed81";
$si-Play: "\ed82";
$si-Play-Circle: "\ed83";
$si-Play-Stream: "\ed84";
$si-Playback-Speed: "\ed85";
$si-Podcast: "\ed86";
$si-Quit-Full-Screen: "\ed87";
$si-Quit-Full-Screen-Circle: "\ed88";
$si-Quit-Full-Screen-Square: "\ed89";
$si-Quit-PIP: "\ed8a";
$si-Record: "\ed8b";
$si-Record-Circle1: "\ed8c";
$si-Reel: "\ed8d";
$si-Reel-2: "\ed8e";
$si-Repeat: "\ed8f";
$si-Repeat-One: "\ed90";
$si-Repeat-One-Minimalistic: "\ed91";
$si-Rewind-10-Seconds-Back: "\ed92";
$si-Rewind-10-Seconds-Forward: "\ed93";
$si-Rewind-15-Seconds-Back: "\ed94";
$si-Rewind-15-Seconds-Forward: "\ed95";
$si-Rewind-5-Seconds-Back: "\ed96";
$si-Rewind-5-Seconds-Forward: "\ed97";
$si-Rewind-Back: "\ed98";
$si-Rewind-Back-Circle: "\ed99";
$si-Rewind-Forward: "\ed9a";
$si-Rewind-Forward-Circle: "\ed9b";
$si-Shuffle: "\ed9c";
$si-Skip-Next: "\ed9d";
$si-Skip-Previous: "\ed9e";
$si-Soundwave: "\ed9f";
$si-Soundwave-Circle: "\eda0";
$si-Soundwave-Square: "\eda1";
$si-Stop: "\eda2";
$si-Stop-Circle: "\eda3";
$si-Stream: "\eda4";
$si-To-PIP: "\eda5";
$si-Upload-Track: "\eda6";
$si-Upload-Track-2: "\eda7";
$si-Video-Frame: "\eda8";
$si-Video-Frame-2: "\eda9";
$si-Video-Frame-Cut: "\edaa";
$si-Video-Frame-Cut-2: "\edab";
$si-Video-Frame-Play-Horizontal: "\edac";
$si-Video-Frame-Play-Vertical: "\edad";
$si-Video-Frame-Replace: "\edae";
$si-Video-Library: "\edaf";
$si-Videocamera: "\edb0";
$si-Videocamera-Add: "\edb1";
$si-Videocamera-Record: "\edb2";
$si-Vinyl: "\edb3";
$si-Vinyl-Record: "\edb4";
$si-Volume: "\edb5";
$si-Volume-Cross: "\edb6";
$si-Volume-Loud: "\edb7";
$si-Volume-Small: "\edb8";
$si-Wallpaper: "\edb9";
$si-Cloud: "\edba";
$si-Cloud-Bolt: "\edbb";
$si-Cloud-Bolt-Minimalistic: "\edbc";
$si-Cloud-Check: "\edbd";
$si-Cloud-Download: "\edbe";
$si-Cloud-Minus: "\edbf";
$si-Cloud-Plus: "\edc0";
$si-Cloud-Rain: "\edc1";
$si-Cloud-Snowfall: "\edc2";
$si-Cloud-Snowfall-Minimalistic: "\edc3";
$si-Cloud-Storm: "\edc4";
$si-Cloud-Sun: "\edc5";
$si-Cloud-Sun-2: "\edc6";
$si-Cloud-Upload: "\edc7";
$si-Cloud-Waterdrop: "\edc8";
$si-Cloud-Waterdrops: "\edc9";
$si-Clouds: "\edca";
$si-Cloudy-Moon: "\edcb";
$si-Clound-Cross: "\edcc";
$si-Fog: "\edcd";
$si-Moon: "\edce";
$si-Moon-Fog: "\edcf";
$si-Moon-Sleep: "\edd0";
$si-Moon-Stars: "\edd1";
$si-Snowflake: "\edd2";
$si-Stars1: "\edd3";
$si-Sun: "\edd4";
$si-Sun-2: "\edd5";
$si-Sun-Fog: "\edd6";
$si-Sunrise: "\edd7";
$si-Sunset: "\edd8";
$si-Temperature: "\edd9";
$si-Tornado: "\edda";
$si-Tornado-Small: "\eddb";
$si-Waterdrops: "\eddc";
$si-Wind: "\eddd";

